
<div class="container">

  <h1>New Service</h1>

  <%= form_for(@service, :html => { :multipart => true }) do |f| %>
        <div class="form-group">
          <h4>Document Category</h4>
        <%= f.label :document_id %>
        <%= f.select :document_id, Document.pluck(:category, :id), :include_blank => true, :class => "dropdown-menu" %></div>

        <div class="form-group">
        <h4>Language From</h4>
        <%= f.label :from_language_id %>
        <%= f.select :from_language_id, FromLanguage.pluck(:language_from, :id), :include_blank => true, :class => "dropdown-menu" %></div>

        <div class="form-group">
        <h4>Language To</h4>
        <%= f.label :to_language_id %>
        <%= f.select :to_language_id, ToLanguage.pluck(:language_to, :id), :include_blank => true, :class => "dropdown-menu" %></div>

        <div class="form-group">
        <h4>Time Frame</h4>
        <%= f.label :time_frame_id %>
        <%= f.select :time_frame_id, TimeFrame.pluck(:urgercy, :id), :include_blank => true, :class => "dropdown-menu" %></div>

        <br>
        <%= f.label :price %><br>
        <%= f.number_field :price, :class => "form-control" %>
        <br>  <%= f.submit "Create Service", :class => "btn btn-dark"%>
        <% end %>
        </div>

</div>
