
<div class="container">
  <div class="card-body-fluid  mb-3">
    <h1 class="display-4">Translatorss</h1>

      <%= form_tag search_translator_path do %>
        <%= label_tag "Select your translator: "%>
        <%= select_tag "from_languages", options_for_select([["select a language from", -1]] + @from_languages.pluck(:language_from, :id)) %>

          <%= select_tag "to_languages", options_for_select([["select a language to", -1]] + @to_languages.pluck(:language_to, :id)) %>
      <%= submit_tag "submit" %>
      <% end %>

  <% unless @user_matches.nil? %>
    <div class="services">
    <% @user_matches.each do |user| %>
      <div>
        <%= link_to user.email, user_path(user) %>
      </div>
    <% end %>
    </div>
  <% end %>







</div>
